<!DOCTYPE html>
<html>
  <head>
    <title>Service & Call Inquiry</title>
    <%= render 'layouts/stylesheets' %>
  </head>
  <body>
    <div class="container">
      <header>
        <%= image_tag("logo.png", :alt => "LOGOGo", :class => "round") %>
        <nav class="round">
          
        </nav>
      </header>
      <section class="round">
        <%= yield %>
      </section>
    </div>
  </body>
</html>

